#msg {
	position: fixed;
	top: calc(50% - 0.5em);
	left: calc(50% - 3em);
	font-size: 20vmin;

	display: inline-block;
	background: rgba(0, 0, 0, 0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#cancel {
	height: 50px;
	width: 170px;
	position: fixed;
	top: calc(99% - 50px);
	left: calc(99% - 170px);
	font-size: 30px;
}
#queue {
	height: 50px;
	width: 160px;
	position: fixed;
	top: calc(99% - 50px);
	left: calc(1%);
	font-size: 30px;
	line-height: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: right;
	padding-right: 10px;
}
#queue::after {
	content: "人待ち";
}