<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login - Numer0n</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/base.css">
	<head th:insert="~{head::header}"></head>
</head>
<body style="opacity: 1;">
	<div class="Heading_txt" style="opacity: 0.8;"><span>Login</span></div>
	<div id="login-form-wrap">
		<h2>ログイン</h2>
		<form id="login-form" action="Login" method="post">
			<p>
				<input type="text" id="id" name="id" placeholder="ID" required><i class="validation"><span></span><span></span></i>
			</p>
			<p>
				<input type="password" id="pass" name="pass" placeholder="Password" required><i class="validation"><span></span><span></span></i>
			</p>
			<p>
				<input type="submit" id="login" value="ログイン">
			</p>
		</form>
		<div id="create-account-wrap">
			<p>登録は <a href="Register">こちら</a><p>
		</div>
	</div>
</body>
</html>